.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #FFFFFF;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  .form-group label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
  }
  
  .input-title, .input-question, .input-option, .input-result-message {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .card {
    padding: 20px;
    margin: 20px 0;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #F5F5F5;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: background-color 0.3s;
  }
  
  .card:hover {
    background-color: #e0e0e0;
  }
  
  .quiz-info {
    flex-grow: 1;
    cursor: pointer;
  }
  
  .quiz-info h4 {
    margin: 0;
  }
  
  .quiz-info p {
    margin: 0;
  }
  
  .delete-quiz-button {
    background: none;
    border: none;
    color: red;
    cursor: pointer;
    margin-left: 10px;
  }
  
  .delete-quiz-button:hover {
    color: #e60000;
  }
  
  .button-group {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }
  
  .back-button {
    background-color: #FF8C42;
    color: #FFFFFF;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .back-button:hover {
    background-color: #e67735;
  }
  
  .add-quiz-button {
    background-color: #6BBF59;
    color: #FFFFFF;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
  }
  
  .add-quiz-button:hover {
    background-color: #5aa84a;
  }
  
  .error-message {
    color: red;
    font-weight: bold;
    margin-top: 10px;
  }
  