/* Estilos existentes */

.container {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  background-color: #FFFFFF;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.question-block {
  margin-bottom: 20px;
}

.option-block {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  padding: 15px;
  background-color: #f8f8f8;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s;
  font-size: 18px;
}

.option-block:hover {
  background-color: #b6ff63;
}

.selected {
  background-color: #d0f0d0;
}

.correct {
  background-color: #6BBF59;
  color: white;
}

.incorrect {
  background-color: #FF6B6B;
  color: white;
}

.correct-border {
  border: 2px solid #6BBF59;
  background-color: #f0f0f0;
}

.submit-button, .next-button {
  background-color: #6BBF59;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
  margin-right: 10px;
}

.submit-button:hover, .next-button:hover {
  background-color: #5AA648;
}

.result {
  margin-top: 20px;
}

.back-button {
  background-color: #FF8C42;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
}

.back-button:hover {
  background-color: #e67735;
}

.question-selector {
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
}

.question-number {
  width: 40px;
  height: 40px;
  margin: 5px;
  border: none;
  border-radius: 50%;
  background-color: #ccc;
  color: white;
  cursor: pointer;
  font-size: 16px;
  display: flex; /* Añadido */
  align-items: center; /* Añadido */
  justify-content: center; /* Añadido */
}

.question-number:hover {
  background-color: #ddd;
}

/* ResolveQuiz.css */


.answered-correct {
  background-color: #6BBF59; /* Verde */
}

.answered-incorrect {
  background-color: #FF6B6B; /* Rojo */
}

.kofi-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.kofi-container #kofi-button {
  max-width: 100%;
  height: auto;
}

/* Resto del CSS */